.title {
  text-align: center;
}

.movies {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
  max-width: 600px;
  margin: 0 auto;
}

.movie-item {
  background: #ffdbfa;
  margin: 5px 0;
  padding: 20px;
  border-radius: 8px;
}

.movie-btn {
  background: transparent;
  border: 2px solid red;
  border-radius: 8px;
  padding: 10px;
  cursor: pointer;
  transition: all .2s ease;
}

.movie-btn:hover {
  background: red;
}
