.title {
  text-align: center;
}

.container {
  max-width: 600px;
  margin: 0 auto;
}

.movies {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
  max-width: 600px;
  margin: 0 auto;
}

.movie-item {
  background: #eee;
  margin: 5px 0;
  padding: 20px;
  border-radius: 8px;
}

.movie-btn {
  background: transparent;
  border: 2px solid #ff00bf;
  border-radius: 8px;
  padding: 10px;
  cursor: pointer;
  transition: all .2s ease;
}

.movie-btn:hover {
  background: #ff00bf;
}

.details h1,
.details-header p {
  margin: 2px 0;
  background: rgba(0, 0, 0, 0.85);
  display: inline;
  margin-right: auto;
  padding: 5px;
}

.details-header {
  padding: 20px;
  min-height: 300px;
  color: #fff;
  background: #e7e7e7;
  margin-bottom: 30px;
  background-size: cover;
  background-position: center;
}

.details-header .container {
  display: flex;
  flex-direction: column;
}

.details-rating span {
  font-weight: 600;
  font-size: 24px;
}

.back-btn {
  margin-top: 100px;
  display: block;
  text-align: center;
}
