body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #e7ebec;
}

#root {
  min-height: 100vh;
  height: 100%;
  position: relative;
  padding-bottom: 40px;
}

* {
  box-sizing: border-box;
}
